name: Build, Deploy and Purge

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install dependencies
        run: npm install

      - name: Build Next.js
        run: npm run build
        
      - name: PWD
        run: pwd
      
      - name: Setup Python
        uses: actions/setup-python@v3
        
      - name: Install Boto3
        run: pip3 install boto3

      - name: Install the Linode CLI
        uses: linode/action-linode-cli@v1
        with:
          token: ${{ secrets.LINODE_TOKEN }}

      - name: Deploy to Linode Object Store
        run: linode-cli obj put ./out/* tech-session/ --cluster ap-south-1
        env:
          LINODE_CLI_OBJ_ACCESS_KEY: ${{ secrets.LINODE_CLI_OBJ_ACCESS_KEY }}
          LINODE_CLI_OBJ_SECRET_KEY: ${{ secrets.LINODE_CLI_OBJ_SECRET_KEY }}
